<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <style>
        /* CSS code for the confirmation message */
        .success{
            background-color: #f0f9eb;
            color: #2d7f46;
            padding: 10px 20px;
            border: 2px solid #b7e1c5;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    
        /* CSS code for the error message */
        .error {
            background-color: #fde8e8;
            color: #d53e3e;
            padding: 10px 20px;
            border: 2px solid #f6c1c1;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        </style>
    {% endif %}
    {% endwith %}
    <div class="cookies">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div id="confirmation">
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="success">{{message}}</div>
                    {% else %}
                        <div class="error">{{message}}</div>
                    {% endif %}
                {% endfor %}    
            </div>
            {% endif %}
        {% endwith %}
    </div>
    <h1>Add New User</h1>
    <form method="POST">
        <label for="input1">Employee upn on AzureAD:</label>
        <input type="text" name="input1" id="input1" placeholder="employee upn" required><br>
        
        <label for="input2">EKS role:</label>
        <select name="input2" id="input2" required>
            <option value="" selected disabled>select an option</option>
            <option value="developer">Developer</option>
            <option value="admin">Admin</option>
        </select><br>
        
        <label for="input3">AWS role:</label>
        <select name="input3" id="input3" required>
            <option value="" selected disabled>select an option</option>
            <option value="readOnly">readOnly</option>
            <option value="fullAdmin">fullAdmin</option>
            <option value="networkAdmin">networkAdmin</option>
        </select><br>
        
        <label for="input4">Github Organization(s):</label>
        <div class="checkbox-row">
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-zcloud" id="checkbox1">
              <label for="checkbox1">zuora-zcloud</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-platform" id="checkbox2">
              <label for="checkbox2">zuora-platform</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-billing" id="checkbox3">
              <label for="checkbox3">zuora-billing</label>
            </div>
          </div>
          
          <div class="checkbox-row">
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-collect" id="checkbox4">
              <label for="checkbox4">zuora-collect</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-revenue-core" id="checkbox5">
              <label for="checkbox5">zuora-revenue-core</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" name="input4" value="zuora-datascience" id="checkbox6">
              <label for="checkbox6">zuora-datascience</label>
            </div>
          </div>
          

        <script>
            function validateCheckbox() {
                let checkboxes = document.querySelectorAll('input[name="input4"]:checked');
                if (checkboxes.length === 0) {
                    alert("Please select at least one Github Organization");
                    return false;
                }
                return true;
            }
        </script>
        
        <input type="submit" value="Submit" onclick="return validateCheckbox()">
    </form>
    </div>
</body>
</html>